---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const bg = blok.background?.filename || '';
const darkTextClass = (bg.includes('gray_sand') || bg.includes('dark')) ? 'text-white text-shadow-none' : ''
---

<section
  id="home"
  class="quote section-active"
  data-stellar-background-ratio="0.0"
  style={`background: url("${blok.background.filename}") 0px 693.824px repeat;`}
>
  <div class="container">
    <div {...storyblokEditable(blok)}>
      <div class="sixteen columns">
        <h2 style="text-align: center;">
          <b><strong>{blok.title}</strong></b>
        </h2>
        <h2 style="text-align: center;">
          <blockquote class={darkTextClass}>
            {blok.quote}
            {blok.author && <footer class="text-xl text-right">{blok.author}</footer>}
          </blockquote>
        </h2>
      </div>
    </div>
  </div>
</section>
